@import "../../../constants/constants";

.priority {
  &.priority-high {
    border-left: 6px solid $PRIORITY_HIGH;
  }

  &.priority-medium {
    border-left: 6px solid $PRIORITY_MEDIUM;
  }

  &.priority-low {
    border-left: 6px solid $PRIORITY_LOW;
  }

  &.priority-none {
    border-left: 6px solid $PRIORITY_NONE;
  }
}

