@import "../../../../src/constants/constants";
@import "../../../constants/_media-queries";

.skeleton {
  background-color: $COLOR_GRAY_100;
}

.skeleton-update {
  width: 120px;
}

.skeleton-title {
  width: 90px;

  &-1 {
    width: 220px;
  }

  &-2 {
    width: 320px;
    margin-top: 30px;
  }
}

.skeleton-id {
  width: 130px;
}

.skeleton-subtitle {

  &-1 {
    width: 120px;
  }

  &-2 {
    width: 200px;
  }
}

.skeleton-comment {
  height: 60px;
  margin-top: 30px;
}

.skeleton-buttons {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .skeleton-button {
    height: 50px;
    width: 220px;
  }
}


@include respond-to(mobile) {
  .skeleton-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    .skeleton-button {
      width: 250px;
    }
  }
}
